:root {
	--spacer: 1.5rem;
	--flow-space: 2rem;

	--clr-primary-400: 172, 61%, 77%;
	--clr-primary-500: 172, 67%, 45%;

	--clr-neutral-100: 0, 0%, 100%;
	--clr-neutral-200: 189, 41%, 97%;
	--clr-neutral-400: 185, 41%, 84%;
	--clr-neutral-500: 184, 14%, 56%;
	--clr-neutral-800: 186, 14%, 43%;
	--clr-neutral-900: 183, 100%, 15%;

	--fw-700: 700;

	--fs-300: 0.8125rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-900: 2rem;

	--border-radius-xsmall: 5px;
	--border-radius-small: 15px;
	--border-radius-large: 25px;
}

@media (min-width: 43.5em) {
	:root {
		--fs-900: 3rem;
	}
}

/* reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

ul[class] {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	width: 100%;
	max-width: 100%;
	font: inherit;
	color: inherit;
}

input[type='checkbox'],
input[type='radio'],
input[type='submit'],
input[type='button'] {
	width: auto;
	cursor: pointer;
}

fieldset,
legend {
	margin: 0;
	border: 0;
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
}
input[type='number'] {
	-moz-appearance: textfield;
}

@supports (appearance: none) or (-moz-appearance: none) or
	(-webkit-appearance: none) {
	input[type='checkbox'],
	input[type='radio'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: relative;
		display: inline-block;
		top: -0.1em;
		width: 1em;
		height: 1em;
		border: 1px solid;
		vertical-align: middle;
		transition: box-shadow 0.1s ease;
    outline: 2px solid red;
    z-index: 9999;
	}

	input[type='checkbox']:checked,
	input[type='radio']:checked {

		/* box-shadow: inset 0 0 0 .25em rebeccapurple; */
	}

	input[type='radio'] {
		opacity: 0;
		position: absolute;
		/* border-radius: 50%; */
	}
}

/* general styling */

body {
	font-family: 'Space Mono', serif;
	font-weight: var(--fw-700);
	font-size: var(--fs-400);
	color: hsl(var(--clr-neutral-900));
	background-color: hsl(var(--clr-neutral-400));
	line-height: 1;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	align-self: center;
	margin-bottom: 5rem;
}

.wrapper {
	width: min(calc(100vw), 58rem);
	margin-inline: auto;
	padding: 3rem;
	background-color: hsl(var(--clr-neutral-100));
	border-radius: var(--border-radius-large);
}

@media (max-width: 40em) {
	header {
		margin-block: 2.5rem;
	}
}

/* Utility classes */
.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1.5rem);
}

.flow-space-big {
	--flow-space: 5rem;
}

.flow-space-normal {
	--flow-space: 3.5rem;
}

.flow-space-small {
	--flow-space: 1.25rem;
}

.split {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.margin-top {
	margin-top: 0.25rem;
}

@media (min-width: 40em) {
	main {
		display: flex;
		gap: 3rem;
		justify-content: space-between;
	}

	main > * {
		flex-basis: 100%;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

/* Typography */

.fs-300 {
	font-size: var(--fs-300);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-500 {
	font-size: var(--fs-500);
}

.fs-600 {
	font-size: var(--fs-600);
}

.fs-900 {
	font-size: var(--fs-900);
}

.fw-700 {
	font-weight: var(--fw-700);
}

/* Colours */

.text-neutral-100 {
	color: hsl(var(--clr-neutral-100));
}

.text-neutral-500 {
	color: hsl(var(--clr-neutral-500));
}

.text-primary-500 {
	color: hsl(var(--clr-primary-500));
}

/* Components */

label,
legend {
	color: hsl(var(--clr-neutral-800));
}

.input-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border: 2px solid hsl(var(--clr-primary-500)); */
	background-color: hsl(var(--clr-neutral-200));
	margin-top: 0.25rem;
	padding-inline: 1rem;
	border-radius: var(--border-radius-xsmall);
	font-size: var(--fs-600);
}

.input-field input {
	background-color: transparent;
	color: hsl(var(--clr-neutral-900));
	text-align: right;
	border: 0px;
	padding: 0.25rem;
}

.input-field input:focus {
	outline: none;
}

.radio-inputs {
	margin-top: 0.5rem;
	margin-bottom: 2.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
  position: relative;
}

.radio-inputs .radio {
  flex: 0 0 auto;
	text-align: center;
	font-size: var(--fs-600);
	align-self: center;
	padding: 1rem;
}

.radio-inputs .radio:focus {
	/* border: 2px solid hsl(var(--clr-primary-500)); */
}

input[type='radio']:focus {
	outline: 2px solid blue; /* Or any color you prefer */
	outline-offset: 2px;
}

input[type='radio']:focus-visible {
	outline: 2px solid blue;
}

.radio:has(input.custom-input) {
	background-color: hsl(var(--clr-neutral-200));
	color: hsl(var(--clr-neutral-900));
	/* border: 2px solid hsl(var(--clr-primary-500)); */
	padding: 0.5rem;
}

input.custom-input {
	background-color: transparent;
	border: transparent;
	color: hsl(var(--clr-neutral-900));
	text-align: center;
}

input.custom-input:focus {
	outline: none;
}

.results-container {
	color: hsl(var(--clr-neutral-100));
	background-color: hsl(var(--clr-neutral-900));
	border-radius: var(--border-radius-small);
	padding: 1.5rem;
	padding-top: 2.3rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.button {
	--fg: hsl(var(--clr-neutral-100));
	--bg: hsl(var(--clr-neutral-900));
	cursor: pointer;
	color: var(--fg);
	background-color: var(--bg);
	font-family: inherit;
	font-weight: var(--fw-700);
	text-transform: uppercase;
	font-size: var(--fs-500);
	border: 2px solid transparent;
	border-radius: var(--border-radius-xsmall);
	padding: 0.5rem 2rem;
	transition: all ease-in 0.5s;
}

.button:hover {
	--fg: hsl(var(--clr-neutral-900));
	--bg: hsl(var(--clr-primary-400));
}

.reset-button {
	--fg: hsl(var(--clr-neutral-900));
	--bg: hsl(var(--clr-primary-500));
	display: inline-block;
	width: 100%;
	margin-top: auto;
}

@media (min-width: 40em) {
	.results-container {
		margin-top: 0;
	}
}

/* Footer */

footer {
	margin-top: 1.5rem;
	margin-inline: auto;
	max-width: 30ch;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
