:root {
	/* Colors */
	--clr-primary-400: 172, 61%, 77%;
	--clr-primary-500: 172, 67%, 45%;

	--clr-neutral-100: 0, 0%, 100%;
	--clr-neutral-200: 189, 41%, 97%;
	--clr-neutral-400: 185, 41%, 84%;
	--clr-neutral-500: 184, 14%, 56%;
	--clr-neutral-800: 186, 14%, 43%;
	--clr-neutral-900: 183, 100%, 15%;

	/* Typography */
	--fs-300: 0.8125rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 1.5rem;
	--fs-900: 2rem;

	--fw-700: 700;

	/* Spacing */
	--spacer: 1.5rem;
	--flow-space: 2rem;

	/* Borders */
	--border-radius-xsmall: 5px;
	--border-radius-small: 15px;
	--border-radius-large: 25px;

	/* Transitions */
	--transition: all ease-in 0.5s;
}

@media (min-width: 43.5em) {
	:root {
		--fs-900: 3rem;
	}
}

/* reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	object-fit: cover;
}

ul[class] {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	width: 100%;
	max-width: 100%;
	font: inherit;
	color: inherit;
}

input[type='checkbox'],
input[type='radio'],
input[type='submit'],
input[type='button'] {
	width: auto;
	cursor: pointer;
}

fieldset,
legend {
	margin: 0;
	border: 0;
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	appearance: none;
}

input[type='number'] {
	appearance: textfield;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* general styling */

body {
	font-family: 'Space Mono', serif;
	font-weight: var(--fw-700);
	font-size: var(--fs-400);
	color: hsl(var(--clr-neutral-900));
	background-color: hsl(var(--clr-neutral-400));
	line-height: 1;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	align-self: center;
	margin-block: clamp(2rem, 5vw, 5rem);
}

.wrapper {
	width: min(100vw, 58rem);
	margin-inline: auto;
	padding: 3rem;
	background-color: hsl(var(--clr-neutral-100));
	border-radius: var(--border-radius-large);
}

/* Utility classes */
.flow > *:where(:not(:first-child)) {
	margin-block-start: var(--flow-space, 1.5rem);
}

.flow-space-big {
	--flow-space: 5rem;
}

.flow-space-normal {
	--flow-space: 3.5rem;
}

.flow-space-small {
	--flow-space: 1.25rem;
}

.split {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.margin-block-start {
	margin-block-start: 0.25rem;
}

@media (min-width: 40em) {
	main {
		display: flex;
		gap: 3rem;
		justify-content: space-between;
	}

	main > * {
		flex-basis: 100%;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

/* Typography */

.fs-300 {
	font-size: var(--fs-300);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-500 {
	font-size: var(--fs-500);
}

.fs-600 {
	font-size: var(--fs-600);
}

.fs-900 {
	font-size: var(--fs-900);
}

.fw-700 {
	font-weight: var(--fw-700);
}

/* Colours */

.text-neutral-100 {
	color: hsl(var(--clr-neutral-100));
}

.text-neutral-500 {
	color: hsl(var(--clr-neutral-500));
}

.text-primary-500 {
	color: hsl(var(--clr-primary-500));
}

/* Components */

label,
legend {
	color: hsl(var(--clr-neutral-800));
}

.input-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid hsl(var(--clr-neutral-200));
	background-color: hsl(var(--clr-neutral-200));
	margin-block-start: 0.5rem;
	padding-inline: 1rem;
	border-radius: var(--border-radius-xsmall);
	font-size: var(--fs-600);
	transition: var(--transition);
}

.input-field input {
	background-color: transparent;
	color: hsl(var(--clr-neutral-900));
	text-align: right;
	border: none;
	padding: 0.25rem;
}

input:focus {
	outline: none;
}

fieldset {
	margin-block-end: 2.5rem;
}

.fieldset-title {
	margin-block-end: 0.5rem;
}

.radio-inputs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.results-container {
	color: hsl(var(--clr-neutral-100));
	background-color: hsl(var(--clr-neutral-900));
	border-radius: var(--border-radius-small);
	padding: 1.5rem;
	padding-block-start: 2.3rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

@media (min-width: 40em) {
	.results-container {
		margin-block-start: 0;
	}
}

/* Page Specific Components */

.button,
.tip-button {
	--fg: hsl(var(--clr-neutral-100));
	--bg: hsl(var(--clr-neutral-900));
	cursor: pointer;
	color: var(--fg);
	background-color: var(--bg);
	font-family: inherit;
	font-weight: var(--fw-700);
	text-transform: uppercase;
	font-size: var(--fs-500);
	border: 2px solid transparent;
	border-radius: var(--border-radius-xsmall);
	padding: 0.5rem 2rem;
	transition: var(--transition);
}

.button:hover {
	--fg: hsl(var(--clr-neutral-900));
	--bg: hsl(var(--clr-primary-400));
}

.reset-button {
	--fg: hsl(var(--clr-neutral-900));
	--bg: hsl(var(--clr-primary-500));
	width: 100%;
	margin-block-start: auto;
}

/* Radio Buttons */
.tip-selector {
	margin-block-end: 2.5rem;
}

.radio-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

/* Radio button styles */
.radio-option {
	position: relative;
}

.tip-button {
	display: block;
	text-align: center;
	font-size: clamp(var(--fs-400), 6vw, var(--fs-600));
	padding: 1rem;
	text-transform: uppercase;
	border-radius: var(--border-radius-xsmall);
}

.tip-button:hover {
	--bg: hsl(var(--clr-primary-400));
	--fg: hsl(var(--clr-neutral-900));
}

input[type='radio']:checked + .tip-button {
	--bg: hsl(var(--clr-primary-400));
	--fg: hsl(var(--clr-neutral-900));
}

/* Custom input styles */
.custom-input {
	border: transparent;
	background: transparent;
	color: hsl(var(--clr-neutral-200));
	text-align: right;
	padding: 0.5rem;
	border-radius: var(--border-radius-xsmall);
}

.custom-input:focus {
	outline: 2px solid hsl(var(--clr-neutral-100));
	outline-offset: -2px;
}

.custom-option .tip-button {
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

input[type='radio']:checked + .tip-button .custom-input {
	color: hsl(var(--clr-neutral-100));
	background-color: hsl(var(--clr-primary-400));
}

input[type='radio']:checked + .tip-button .custom-input::placeholder {
	color: hsl(var(--clr-neutral-200));
}

/* Footer */

footer {
	margin-block-start: 1.5rem;
	margin-inline: auto;
	max-width: 30ch;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration: underline;
}
